.confirmModal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  &__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: #000000, $alpha: .5);
    backdrop-filter: blur(2px);
  }

  &__box{
    display: flex;
    flex-direction: column;
    position: relative;
    background: white;
    padding: 2rem;
  }

  &__title{
    margin: 1rem;
  }

  &__buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
  }

  &__button{
    display: flex;
    padding: 10px 20px;
    border-radius: 0;
    border: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    color: white;
    transition: $transition;

    &--success{
      background: darkgreen;

      &:hover{
        background: darken($color: darkgreen, $amount: 5);
      }
    }

    &--error{
      background: firebrick;
      
      &:hover{
        background: darken($color: firebrick, $amount: 15);
      }      
    }

  }
}