.userSteps{
  margin: 3rem 0;

  &__title{
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__row{
    display: flex;
    padding-left: 10px;
    align-items: center;
    gap: 10px;
    transition: $transition;
    padding: 8px 10px;
  
    &:nth-child(odd){
      background: lighten($color: $primary, $amount: 50%);
    }

    &:hover{
      background: lighten($color: $neutral, $amount: 50%);

      .userSteps__edit{
        visibility: visible;
        opacity: 1;
      }
    }
  
    &--header{
      padding: 10px;
      color: white;
      background: $primary !important;
    }

    &--edit{
      .userSteps__meters{
        display: none;
      }

      .userSteps__edit{
        margin-left: auto;
      }      
    }

    input{
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8rem;
      background: white;
    }
  }

  &__header{
    &-date{
      min-width: 180px;
    }

    &-meters{
      margin-left: auto;
    }
  }

  &__date{
    display: flex;
    align-items: center;    
    min-width: 180px;

    &--error{
      border: 1px solid crimson
    }
  }

  &__meters{
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__steps{
    display: flex;
    align-items: center;

    &--error{
      border: 1px solid crimson
    }
  }

  &__total{
    min-width: 180px;
  }

  &__edit{
    height: 15px;
    transition: $transition;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    img + img{
      margin-left: 5px;
    }
  }

  @media (max-width: $mobile){
    margin: 1rem ;

    &__row{
      input{
        width: 100%;
      }

      &--edit{
        .userSteps__edit{
          min-width: 80px;
        }
      }
    }

    &__header{
      &-date{
        min-width: 110px;
      }
    }

    &__date{
      min-width: 110px;
    }

    &__total{
      min-width: 110px;
    }    
  }  
}